services:
  nextjs-site-status-checker:
    container_name: nextjs-site-status-checker
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - .:/workspace
    env_file:
      - .env.local
      - .env
    stdin_open: true
    tty: true